body, :root {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: hidden;
}

@font-face {
	font-family: NeueMontrealMono;
	src: url(font/PPNeueMontrealMono-Medium.otf);
}

p {
	font-size: 7px;
	font-family: NeueMontrealMono;
	line-height: 1;
	tab-size: 1;
	white-space: pre;
}

code {
	font-size: 12px;
	font-family: NeueMontrealMono;
	line-height: 1;
	tab-size: 3;
	white-space: pre;
}

#codeTextarea {
	width: 100%;
	height: 100vh;
	font-size: 12px;
	font-family: NeueMontrealMono;
	line-height: 1;
	tab-size: 3;
	padding: 0;
	border: 0px;
	/* white-space: pre; */
}

#testCharSize {
	font-size: 12px;
	font-family: NeueMontrealMono;
	line-height: 1;
	width: auto;
	height: auto;
	position: absolute;
	visibility: hidden;
}

.fab-wrapper {
	position: fixed;
	bottom: 35px;
	right: 35px;
}
.fab-toggle {
	-webkit-appearance: none;
	position: absolute;
	border-radius: 50%;
	top: 0; left: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	background-color: transparent;
	border: none;
	outline: none;
	z-index: 2;
	transition: box-shadow .2s ease-in-out;
	box-shadow: 0 3px 5px 1px rgba(51, 51, 51, 0.3);
}
.fab-toggle:hover {
	box-shadow: 0 3px 6px 2px rgba(51, 51, 51, 0.3);
}
.fab-toggle:checked ~ .fab-actions a {
	opacity: 1;
	visibility: visible;
}
.fab-toggle:checked ~ .fab-button i {
    transform: rotate(180deg);  
}
.fab-button {
	height: 56px;
	width: 56px;
	background-color: #2c40b3;
	border-radius: 50%;
	color: #fff;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}
.fab-button i {
	font-size: 16px;
	transform: rotate(0deg);
	transition: all 0.4s;
}
.fab-actions {
	position: absolute;
	width: 100%;
	bottom: 120%;
	text-align: center;
}
.fab-actions a {
	display: block;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	text-decoration: none;
	margin: 10px auto 0;
	line-height: 1.15;
	color: #fff;
	opacity: 0;
	visibility: hidden;
	position: relative;
	box-shadow: 0 0 5px 1px rgba(51, 51, 51, .3);
}
.fab-actions a i {
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
}
  
.fab-actions a:hover {
	transform: scale(1.05);
}
.fab-actions a:nth-child(1) {background-color: #ff5722; transition: opacity .2s ease-in-out .3s, transform .15s ease-in-out;}
.fab-actions a:nth-child(2) {background-color: #03a9f4; transition: opacity .2s ease-in-out .25s, transform .15s ease-in-out;}
.fab-actions a:nth-child(3) {background-color: #f44336; transition: opacity .2s ease-in-out .2s, transform .15s ease-in-out;}
.fab-actions a:nth-child(4) {background-color: #4CAF50; transition: opacity .2s ease-in-out .15s, transform .15s ease-in-out;}